<div class="form-group">
    <div class="dynamic-form-header" ng-hide="isModal">
        <a href='#' class='float-right-dark-btn' ng-click="closeDetailView()"><i class='fa fa-remove fa-lg'></i></a>
        <span style="margin-left: 10px"><a href='#' class='popover-btn' ng-click="requestUpdateResource()" ng-if="writePermission"><i class='fa fa-save' title='Update'></i></a></span>
        <span><a href='#' class='popover-btn' ng-click="openModalDialog('clone')" ng-if="writePermission && selectedResourceType.resourceType !== 'Patient'"><i title='Clone' class='fa fa-copy'></i></a></span>
        <span><a href='#' class='popover-btn' ng-click="json()"><i class='fa fa-file-text-o' title='JSON'></i></a></span>
        <span><a href='#' ng-show="showFRED" class='popover-btn' ng-click="fred()"><i class='fa fa-file-text-o' title='FRED'></i></a></span>
        <span><a href='#' class='popover-btn' ng-click="export()"><i class='fa fa-download' title='Export'></i></a></span>
        <span><a href='#' class='popover-btn font-red' ng-click="requestDeleteResource()" ng-if="writePermission"><i class='fa fa-times-circle-o fa-lg' title='Delete'></i></a></span>
    </div>
    <div class="details-form" ng-style="resizeWithOffset(detailOffset)" resize notifier="notifyServiceOnChange(params)">
        <div ng-repeat="attribute in selectedResourceTypeConfig.displayValues" ng-class="{modalForm: isModal}">
            <div ng-include src="dynamicFormTemplate"></div>
        </div>
        <div ng-if="!isModal">
            <div ng-if="selectedResourceReferences.length > 0" ng-repeat="reference in selectedResourceReferences">
                <label class="dynamic-form-label short">{{reference.label}}</label>
                <label ng-show="reference.relativeUrl === 'Not Set'" class="dynamic-form-label short">{{reference.relativeUrl}}</label>
                <a ng-show="reference.relativeUrl !== 'Not Set'" href='#' class="dynamic-form-hyperlink short" ng-click="resourceReferenceSelected(reference)">{{reference.relativeUrl}}</a>
                <a ng-show="reference.resource !== 'Patient'" ng-if="writePermission" class='dynamic-form-edit float-right-dark-btn' ng-click="resourceChooser(reference)"><i class='fa fa-pencil fa-lg'></i></a>

            </div>

            <div ng-if="selectedResourceReferencesList.length > 0" ng-repeat="referenceGroup in selectedResourceReferencesList">
                <div style="padding-left: 10px"><label style="margin-bottom: -5px" class="dynamic-form-section-label">{{referenceGroup.groupName}}</label></div>
                <div style="padding-left: 15px" ng-include src="'js/templates/dynamicReferenceTable.html'"></div>
            </div>

            <div ng-if="selectedResourceBackboneElements.length > 0" ng-repeat="backboneElement in selectedResourceBackboneElements">
                <div ng-if="selectedResourceBackboneElements.length > 0" style="padding-left: 10px">
                    <label style="margin-bottom: -5px" class="dynamic-form-section-label">
                        <span tooltip="Open JSON to see {{backboneElement.name.toLowerCase()}}s. You can add elements but not remove them." tooltip-placement="right">{{backboneElement.name}}</span>
                        <a href='#' class='float-right-btn' ng-if="writePermission" ng-click="openBackboneElementModalDialog(backboneElement, true)"><i class='fa fa-plus-square-o fa-lg'></i></a>
                    </label>
                    <!--This is a hack to display content of documentreferences differently-->
                    <div ng-if="backboneElement.name==='Content'&&selectedResourceType.resourceType==='DocumentReference'"
                         ng-repeat="element in selectedResourceInstance.content">
                        <div style="display: inline-block">
                            <a href='#' class="float-left-dark-btn" ng-click="openAttachmentContentModal(element)">Content {{$index + 1}}</a>
                            <a ng-if="writePermission" href="#" class="float-right-dark-btn" style="padding-left: 6px" ng-click="removeBackboneElement($index, 'content')"><i class="fa fa-remove fa-lg"></i></a>
                        </div>
                    </div>
                    <!--<div-->
                         <!--ng-repeat="element in selectedResourceInstance[backboneElement.type]">-->
                        <!--<div style="display: inline-block">-->
                            <!--<a href='#' class="float-left-dark-btn" ng-click="openBackboneElementModalDialog(element, true)">{{backboneElement.name}} {{$index + 1}}</a>-->
                            <!--<a ng-if="writePermission" href="#" class="float-right-dark-btn" style="padding-left: 6px" ng-click="removeBackboneElement($index, backboneElement.type)"><i class="fa fa-remove fa-lg"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

