<div class="form-group">
    <div class="dynamic-form-header" ng-hide="isModal">
        <a href='#' class='float-right-dark-btn' ng-click="closeDetailView()"><i class='fa fa-remove fa-lg'></i></a>
        <a href='#' tabindex="0" uib-popover-template="'js/templates/detailPopover.html'" popover-trigger="focus" popover-placement="bottom" class='float-left-dark-btn'><i class='fa fa-bars fa-lg'></i></a>
    </div>
    <div class="details-form" ng-style="resizeWithOffset(detailOffset)" resize notifier="notifyServiceOnChange(params)">
        <div ng-repeat="attribute in selectedResourceTypeConfig.displayValues" ng-class="{modalForm: isModal}">
            <div ng-include src="dynamicFormTemplate"></div>
        </div>
        <div ng-if="!isModal">
            <div ng-if="selectedResourceReferences.length > 0" ng-repeat="reference in selectedResourceReferences">
                <label class="dynamic-form-label short">{{reference.label}}</label>
                <label ng-show="reference.relativeUrl === 'Not Set'" class="dynamic-form-label short">{{reference.relativeUrl}}</label>
                <a ng-show="reference.relativeUrl !== 'Not Set'" href='#' class="dynamic-form-hyperlink short" ng-click="resourceReferenceSelected(reference)">{{reference.relativeUrl}}</a>
                <a ng-show="reference.resource !== 'Patient'" ng-if="writePermission" class='dynamic-form-edit float-right-dark-btn' ng-click="resourceChooser(reference)"><i class='fa fa-pencil fa-lg'></i></a>

            </div>

            <div ng-if="selectedResourceReferencesList.length > 0" ng-repeat="referenceGroup in selectedResourceReferencesList">
                <div style="padding-left: 10px"><label style="margin-bottom: -5px" class="dynamic-form-section-label">{{referenceGroup.groupName}}</label></div>
                <div style="padding-left: 15px" ng-include src="'js/templates/dynamicReferenceTable.html'"></div>
            </div>

            <div ng-if="selectedResourceBackboneElements.length > 0" ng-repeat="backboneElement in selectedResourceBackboneElements">
                <div ng-if="selectedResourceBackboneElements.length > 0" style="padding-left: 10px">
                    <label style="margin-bottom: -5px" class="dynamic-form-section-label">
                        <span tooltip="See JSON">{{backboneElement.name}}</span>
                        <a href='#' class='float-right-btn' ng-if="writePermission" ng-click="openBackboneElementModalDialog(backboneElement, true)"><i class='fa fa-plus-square-o fa-lg'></i></a>
                    </label>
                </div>

            </div>

        </div>
    </div>
</div>

