<div class="form-group" get-value-set-expansion="getValueSetExpansion(val)" >
    <!--<div class="editor-label"><label>Observation:</label></div>-->
    <!--<div class="editor-field"><input type="text" class="input-box form-control" ng-model="selectedObservation.code.coding[0].display"/></div>-->

    <table>
        <tr><td>Observation:</td><td>
            <div class='typeahead-modal'>
                <input type="text" class="form-control" ng-model="newObservation.code.coding[0].display" placeholder="Enter the Display Value"
                       uib-typeahead="coding.display for coding in getValueSetExpansion({val:$viewValue})" typeahead-loading="loadingValueSetDisplay"
                       typeahead-no-results="noResultsDisplay" typeahead-editable="false" typeahead-on-select="newObservation.code.coding[0] = $item">
                <i ng-show="loadingValueSetDisplay" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResultsDisplay">
                    <i class="glyphicon glyphicon-remove"></i> No results  <!--{{resultsStatus}}-->
                </div>
            </div>
        </td>
            <td>Effective Date:</td><td><input type="text" class="form-control" ng-model="newObservation.prettyDate"></td></tr>

        <tr><td>Code:</td><td>
            <div class='typeahead-modal'>
                <input type="text" class="form-control" ng-model="newObservation.code.coding[0].code" placeholder="Enter the Code Value"
                       uib-typeahead="coding.code for coding in getValueSetExpansion({val:$viewValue})" typeahead-loading="loadingValueSet"
                       typeahead-no-results="noResults" typeahead-editable="false" typeahead-on-select="newObservation.code.coding[0] = $item">
                <i ng-show="loadingValueSet" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No results  <!--{{resultsStatus}}-->
                </div>
            </div>
        </td>
            <td>System:</td><td><input type="text" class="form-control" ng-model="newObservation.code.coding[0].system"></td></tr>

        <tr><td>Value:</td><td><input type="text" class="form-control" ng-model="newObservation.valueQuantity.value"></td>
            <td>Units:</td><td><input type="text" class="form-control" ng-model="newObservation.valueQuantity.unit"></td></tr>

        <tr><td>Status:</td><td><input type="text" class="form-control" ng-model="newObservation.status"></td></tr>
    </table>
</div>