<div class="form-group">
    <div class="dynamic-form-header" ng-hide="isModal">
        <a href='#' class='float-right-dark-btn' ng-click="unselectResource(selectedResourceInstance)"><i class='fa fa-remove fa-lg'></i></a>
    </div>
    <div ng-repeat="attribute in selectedResourceTypeConfig.displayValues">
        <form name="form-fix-later" class="css-form" novalidate>

            <div ng-include src="'js/templates/dynamicFormInput.html'"></div>

            <div ng-if="attribute.type=='variable'" class="form-group">
                <div ng-if="dmh.getFhirDatatypeOnResource(fhirDataTypeList, selectedResourceInstance, attribute).length > 0">
                    <div ng-repeat="attribute in dmh.getFhirDatatypeOnResource(fhirDataTypeList, selectedResourceInstance, attribute)">
                        <div ng-include src="'js/templates/dynamicFormInput.html'"></div>
                    </div>
                </div>
                <div ng-if="isCreate && dmh.getFhirDatatypeOnResource(fhirDataTypeList, selectedResourceInstance, attribute).length == 0">
                    <label class="dynamic-form-label">{{attribute.label}}</label>
                    <div ng-init="selectedDataType = ''">
                        <div class="dynamic-form-label-input" ng-show="selectedDataType == ''">
                            <select ng-model="selectedDataType" ng-options="option for option in dmh.getFhirDatatypeChoices(fhirDataTypeList, attribute)"
                                    placeholder="Select a Value Type" class="form-control"/>
                        </div>

                        <div ng-show="selectedDataType != ''" ng-repeat="attribute in dmh.getFhirDatatypeByName(fhirDataTypeList, selectedDataType, attribute)">
                            <div ng-include src="'js/templates/dynamicFormInput.html'"></div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

